$primary: #00b5e6;
$secondary: #ffd900;
$alternative: #54555A;

$primary-50: #f2fbfe;
$primary-100: #e6f8fd;
$primary-200: #bfedf9;
$primary-300: #99e1f5;
$primary-400: #4dcbee;
$primary-500: #00b5e6;
$primary-600: #00a3cf;
$primary-700: #0088ad;
$primary-800: #006d8a;
$primary-900: #005971;

$secondary-50: #fffdf2;
$secondary-100: #fffbe6;
$secondary-200: #fff6bf;
$secondary-300: #fff099;
$secondary-400: #ffe44d;
$secondary-500: #ffd900;
$secondary-600: #e6c300;
$secondary-700: #bfa300;
$secondary-800: #998200;
$secondary-900: #7d6a00;

$alternative-50: #f6f7f7;
$alternative-100: #eeeeef;
$alternative-200: #d4d5d6;
$alternative-300: #bbbbbd;
$alternative-400: #87888c;
$alternative-500: #54555a;
$alternative-600: #4c4d51;
$alternative-700: #3f4044;
$alternative-800: #323336;
$alternative-900: #292a2c;
